<div class="col-sm-4 col-md-8 col-lg-12" id="slaugherNumbers">
    <h2>More Than <strong style="color:red;"> 150 Billion</strong style> Animals Slaughtered Every Year</h2>
    <!-- Begin the Kill Counter: -->
</div>

<div class="counterOverlay">
    <p id="killcounter-l"></p>
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-4">
            <img src="images/sea-turtle.svg" width="200" height="200" class="img-responsive" alt="sea turtle">
            <h4>Marine Animals: <span id="count0">0</span></h4>
        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="images/chicken.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Chickens: <span id="count1">0</span></h4>
        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="images/duck.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Ducks: <span id="count2">0</span></h4>

        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="images/pig.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Pigs: <span id="count3">0</span></h4>

        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="images/rabbit.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Rabbits: <span id="count4">0</span></h4>

        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="images/turkey.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Turkeys: <span id="count5">0</span></h4>

        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="images/goose.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Geese: <span id="count6">0</span></h4>

        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="images/sheep.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Sheep: <span id="count7">0</span></h4>

        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="images/goat.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Goats: <span id="count8">0</span></h4>

        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="images/cow.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Cows & Calves: <span id="count9">0</span></h4>

        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="images/rat.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Rodents: <span id="count10">0</span></h4>

        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="images/dove.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Pigeons & Other Birds: <span id="count11">0</span></h4>

        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="images/buffalo.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Buffaloes: <span id="count12">0</span></h4>

        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="images/dog.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Dogs: <span id="count13">0</span></h4>

        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="images/cat.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Cats: <span id="count14">0</span></h4>

        </div>

        <div class="col-xs-6 col-sm-4">
            <img src="images/horse.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Horses: <span id="count15">0</span></h4>

        </div>

        <div class="col-xs-6 col-sm-4">
            <img src="images/donkey.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Donkeys & Mules: <span id="count16">0</span></h4>

        </div>

        <div class="col-xs-6 col-sm-4">
            <img src="images/camel.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Camels & Other Camelids: <span id="count17">0</span></h4>
        </div>

      </div>
    </div>

        <script type="text/javascript">
            StartKillCounter();
        </script>
        <!-- End Kill Counter -->


        <div class="footer">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
