<div class="col-sm-4 col-md-8 col-lg-12" id="slaugherNumbers">
    <h2>More Than <strong style="color:red;"> 150 Billion</strong style> Animals Slaughtered Every Year</h2>
    <!-- Begin the Kill Counter: -->
</div>

<div class="counterOverlay">
    <p id="killcounter-l"></p>
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-4">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Marine Animals: <span id="count0">0</span></h4>
        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Chickens: <span id="count1">0</span></h4>
        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Ducks: <span id="count2">0</span></h4>
            
        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Pigs: <span id="count3">0</span></h4>
            
        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Rabbits: <span id="count4">0</span></h4>
            
        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Turkeys: <span id="count5">0</span></h4>
            
        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Geese: <span id="count6">0</span></h4>
            
        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Sheep: <span id="count7">0</span></h4>
            
        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Goats: <span id="count8">0</span></h4>
            
        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Cows & Calves: <span id="count9">0</span></h4>
            
        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Rodents: <span id="count10">0</span></h4>
            
        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Pigeons & Other Birds: <span id="count11">0</span></h4>
            
        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Buffaloes: <span id="count12">0</span></h4>
            
        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Dogs: <span id="count13">0</span></h4>
            
        </div>

        <div class="col-xs-6 col-sm-4 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Cats: <span id="count14">0</span></h4>
            
        </div>

        <div class="col-xs-6 col-sm-4">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Horses: <span id="count15">0</span></h4>
            
        </div>

        <div class="col-xs-6 col-sm-4">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Donkeys & Mules: <span id="count16">0</span></h4>
            
        </div>

        <div class="col-xs-6 col-sm-4">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Camels & Other Camelids: <span id="count17">0</span></h4>
            
        </div>
        </p>
        <script type="text/javascript">
            StartKillCounter();
        </script>
        <!-- End Kill Counter -->