

<!-- Sidebar links to more resources -->
<div class="col-3 col-md-4 sidebar-offcanvas" id="sidebar">
  <ul class="list-group">
    <li class="list-group-item active" role="Why Vegan?">Why Vegan?</li>
    <a href="http://vegankit.com/why/" class="list-group-item list-group-item-action" target="_blank" id="Reasons to go Vegan">Why?</a>
    <a href="https://www.healthline.com/nutrition/vegan-diet-benefits" class="list-group-item list-group-item-action" target="_blank"
      id="Health Benefits">Benefits</a>
    <a href="http://www.chooseveg.com/environment" class="list-group-item list-group-item-action" target="_blank" id="Environmental Benefits">Environtmental Facts</a>
    <a href="https://www.vegan.com/" class="list-group-item list-group-item-action" target="_blank" id="Next Steps">Okay, what next?</a>
  </ul>
</div>
</div>
<!-- /sidebar -->

<!-- Google map with highlighted restaurants in the area -->
<div class="map-container">
  <iframe width="670" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDxAizBO0ZYynJASyU_zS34vpalo6Xqbjo&q=vegetarian+vegan+restaurant,98101"
    allowfullscreen="true">
  </iframe>
</div>

<!-- /map -->
<hr>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <img class="img-fluid" src="{{current.matches[0].imageUrlsBySize[90]}}" alt="Featured Recipe 1">
      <div class="card-body">
        <h4 class="card-title">Featured Recipe</h4>
        <p class="card-text">{{current.matches[0].recipeName}}</p>
        <p class="card-text">{{current.matches[0].ingredients}}</p>
        <a href="#" class="btn btn-primary">View Recipe</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="{{current.matches[1].imageUrlsBySize[90]}}" alt="Featured Recipe 2">
      <div class="card-body">
        <h4 class="card-title">Featured Recipe</h4>
        <p class="card-text">{{current.matches[1].recipeName}}</p>
        <p class="card-text">{{current.matches[1].ingredients}}</p>
        <a href="/#!/recipes" class="btn btn-primary">View Recipe</a>

      </div>
    </div>
  </div>
</div>
