<div class="jumbotron">
<form action="#/recipes" method="GET"> 
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div class="input-group">
   <input type="text" class="form-control" placeholder="What would you like to make today?" id="txtSearch"/>
   <div class="input-group-btn">
        <button class="btn btn-primary" type="submit" role="Search">
        <span class="glyphicon glyphicon-search"></span>
        </button>
   </div>
   </div>
    </div>
  </div>
</form>
</div>
<div class="col-3 col-md-4 sidebar-offcanvas" id="sidebar">
    <ul class="list-group">
        <li class="list-group-item active" role="Why Vegan?">Why Vegan?</li>
        <a href="http://vegankit.com/why/" class="list-group-item list-group-item-action" target="_blank" id="Reasons to go Vegan">Why?</a>
        <a href="https://www.healthline.com/nutrition/vegan-diet-benefits" class="list-group-item list-group-item-action" target="_blank" id="Health Benefits">Benefits</a>
        <a href="http://www.chooseveg.com/environment" class="list-group-item list-group-item-action" target="_blank" id="Environmental Benefits">Environtmental Facts</a>
        <a href="https://www.vegan.com/" class="list-group-item list-group-item-action" target="_blank" id="Next Steps">Okay, what next?</a>
      </ul>
  </div><!--/span-->
</div><!--/row-->

<div class="map-container">
<iframe
width="670"
height="450"
frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDxAizBO0ZYynJASyU_zS34vpalo6Xqbjo&q=vegetarian+vegan+restaurant,98101" allowfullscreen="true">
</iframe>
</div>