<div class="jumbotron">
<form action="#/recipes" method="GET"> 
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div class="input-group">
   <input type="text" class="form-control" placeholder="What would you like to make today?" id="txtSearch"/>
   <div class="input-group-btn">
        <button class="btn btn-primary" type="submit">
        <span class="glyphicon glyphicon-search"></span>
        </button>
   </div>
   </div>
    </div>
  </div>
</form>
</div>


<div class="container-fluid">
<iframe
width="670"
height="450"
frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDxAizBO0ZYynJASyU_zS34vpalo6Xqbjo&q=vegetarian+vegan+restaurant,98101" allowfullscreen="true">
</iframe>
</div>