<div class="featured-recipe">
  <h2>Recipe</h2>
  <div class="row">
    <div ng-init="limit = 3">
      <div ng-repeat="recipes in current.matches | limitTo: limit as results">
        <div class="clearfix" ng-if="$index % 3 == 0"></div>
        <div class="col-md-8 col-lg-4">
          <img class="card-img-top" src="{{recipes.imageUrlsBySize[90]}}" alt="Featured Recipe Image">
          <h4>{{recipes.recipeName}}</h4>
          <p class="card-text">Rating:{{recipes.rating}}/5</p>
          <a href="/#!/recipes" class="btn btn-primary">View Recipe</a>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
