<div class="jumbotron">
  <h2>{{recipeDetail.name}}</h2>
</div>

<div class="displayed-recipe">
  <img class="card-img-top" src="{{recipeDetail.images.hostedLargeUrl}}" alt="Recipe Image">
  <ul>
    <h2>Ingredients:</h2>
    <li ng-repeat="ingredient in recipeDetail.ingredientLines">{{ingredient}}</li>
    <h4>Prep Time: {{recipeDetail.prepTime}}</h4>
    <h4>Cook Time: {{recipeDetail.cookTime}}</h4>
    <h4>Total Time: {{recipeDetail.totalTime}}</h4>
  </ul>
  <hr>
  {{recipeDetail.attribution.text}}
</div>
