<!-- Search bar -->
<div ng-app class="col-sm-6 col-md-12 col-lg-12" ng-controller="RecipesCtrl">
  <p class="lead">
    <div ng-init="allowedIngredient=''">
      <p>
        <label for="allowedIngredient">Ingredient:
        <input type="text" name="allowedIngredient" ng-model="allowedIngredient">
      </label>
      </p>
      <p>
        <button ng-click="findRecipes()" class="btn btn-lg btn-primary">Search</button>
      </p>
    </div>
    <!-- /Search bar -->

    <!-- Search results -->
    <div ng-if="searchQuery">
      <div class="results-recipe">
        <div class="row">
          <div ng-repeat="recipe in recipesFound.matches | limitTo: limit as results">
            <div class="clearfix" ng-if="$index % 3 == 0"></div>
            <div class="col-md-8 col-lg-4">
              <img class="card-img-top" src="{{recipe.imageUrlsBySize[90]}}" alt="Featured Recipe Image">
              <h4>{{recipe.recipeName}}</h4>
              <p class="card-text">Rating:{{recipe.rating}}/5</p>
              <a ng-href="/#!/recipedetail/:{{recipes.id}}" class="btn btn-primary">View Recipe</a>
              <hr>
            </div>
          </div>
        </div>
      </div>
  </p>
  </div>
</div <!-- /Search results -->
