<!-- Search bar -->
<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <h1>Ingredients</h1>
  <p class="lead">
    <div ng-init="allowedIngredient='tofu'">
      <p>
        <label for="allowedIngredient">Ingredients:
        <input type="text" name="allowedIngredient" ng-model="recipe">
      </label>
      </p>
      <p>
        <button ng-click="findRecipes()" class="btn btn-lg btn-primary">Search</button>
      </p>
    </div>
    <!-- /Search bar -->

    <!-- Search results -->
    <div ng-if="searchQuery">
      <dl ng-repeat="recipes in recipesFound.list">
        <dt>{{recipe.sourceDisplayName}}</dt>
      </dl>
    </div>
  </p>
</div>
<!-- /Search results -->
