<div class="jumbotron">
    <form action="#" method="GET">
      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="What would you like to make today?" id="txtSearch" />
            <div class="input-group-btn">
              <button class="btn btn-primary" type="submit" role="Search">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
<div class="featured-recipe">
  <div class="row">
    <div ng-init="limit = 9">
      <div ng-repeat="recipes in current.matches | limitTo: limit as results">
        <div class="clearfix" ng-if="$index % 3 == 0"></div>
        <div class="col-md-8 col-lg-4">
          <img class="card-img-top" src="{{recipes.imageUrlsBySize[90]}}" alt="Featured Recipe Image">
          <h4>{{recipes.recipeName}}</h4>
          <p class="card-text">Rating:{{recipes.rating}}/5</p>
          <a href="/#!/recipes" class="btn btn-primary">View Recipe</a>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="show-more">
<button class="btn btn-primary btn-lg" ng-click="limit = limit +6">Show More...</button>
</div>